* {
	margin: 0 ;
	padding: 0 ;
	box-sizing: border-box;
}

body {
	background:url(../img/singlebro02.png) no-repeat;
	background-size:100%; 
}

.back {
	position: absolute;
	left: 20px;
	bottom: 12px;
}
#back {
	font-weight: normal;
	color:#1173ab;
	font-size: 28px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fcf338;
}
.back img {
	width: 20px;
	margin:0 10px;
}
#back:hover {
	font-size: 30px
}

#music1 {
	position: absolute;
	right: 20px;
	width: 50px;
	height: 50px;
}
#music1 img {
	width: 50px;
}

.square {
	width: 400px;
	margin: 90px auto 6px;
}

.local_score {
	padding: 4px 10px;
	box-sizing: border-box;
	width: 232px;
	background: -ms-linear-gradient(bottom, #84b7d5, #2395d6);/* IE 10.0 以上 */
	background: -webkit-linear-gradient(bottom, #84b7d5, #2395d6);/* Safari 5.1 - 6.0 */
	background: -moz-linear-gradient(bottom, #84b7d5, #2395d6); /* Opera 11.1 - 12.0 */
	background: -o-linear-gradient(bottom, #84b7d5, #2395d6);/* Firefox 3.6 - 15 */
	background: linear-gradient(bottom, #84b7d5, #2395d6); /* 标准的语法 */
	border: 4px solid #fff;
	border-bottom: none;
	border-radius: 6px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.game_field {
	box-sizing: border-box;
	float: left;
	width:232px;
	border: 4px solid #fff;
	border-top: none;
	border-radius: 8px;
	background: -ms-linear-gradient(bottom, #c5cfd5, #84b7d5);/* IE 10.0 以上 */
	background: -webkit-linear-gradient(bottom, #c5cfd5, #84b7d5);/* Safari 5.1 - 6.0 */
	background: -moz-linear-gradient(bottom, #c5cfd5, #84b7d5); /* Opera 11.1 - 12.0 */
	background: -o-linear-gradient(bottom, #c5cfd5, #84b7d5);/* Firefox 3.6 - 15 */
	background: linear-gradient(bottom, #c5cfd5, #84b7d5); /* 标准的语法 */
}

.introduce {
	box-sizing:border-box;
	position: absolute;
	right: 20px;
	top:190px;
	padding: 6PX 8PX;
	width: 130px;
	height: 186px;
	border: 4px solid #fff;
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
}

.game {
	margin: 6px auto;
	width: 200px;
	height: 404px;
	background-color: #574947;
	border-top: 4px solid #403837;
	position: relative;
}
.next_field,.time_field {
	position: relative;
	float: left;
	margin-left: 40px;
	width: 88px;
	height: 36px;
	background-color: #574947;
	background: -ms-linear-gradient(bottom, #574947, #b89d99);/* IE 10.0 以上 */
	background: -webkit-linear-gradient(bottom, #574947, #b89d99);/* Safari 5.1 - 6.0 */
	background: -moz-linear-gradient(bottom, #574947, #b89d99); /* Opera 11.1 - 12.0 */
	background: -o-linear-gradient(bottom, #574947, #b89d99);/* Firefox 3.6 - 15 */
	background: linear-gradient(bottom, #574947, #b89d99); /* 标准的语法 */
	padding: 2px 8px;
	box-sizing: border-box;
	border: 4px solid #fff;
	border-bottom: none;
	border-radius: 6px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
.time_field {
	margin-top: 10px;
}
.next {
	position: relative;
	float: left;
	margin-left: 40px;
	width: 80px;
	height: 80px;
	background-color: #574947;
	box-sizing: content-box;
	border: 4px solid #fff;
	border-top: none;
	border-radius: 6px;
}
.time {
	box-sizing: border-box;
	position: relative;
	float: left;
	margin-left: 40px;
	width: 88px;
	height: 80px;
	background-color: #574947;
	border: 4px solid #fff;
	border-top: none;
	border-radius: 6px;
	padding: 16px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
.info {
	position: absolute;
	top: 280px;
	width:232px;
	height: 100px;
}
.info_show {
	box-sizing: border-box;
	background: -ms-linear-gradient(bottom, #5e9fc7, #156393);/* IE 10.0 以上 */
	background: -webkit-linear-gradient(bottom, #5e9fc7, #156393);/* Safari 5.1 - 6.0 */
	background: -moz-linear-gradient(bottom, #5e9fc7, #156393); /* Opera 11.1 - 12.0 */
	background: -o-linear-gradient(bottom, #5e9fc7, #156393);/* Firefox 3.6 - 15 */
	background: linear-gradient(bottom, #5e9fc7, #156393); /* 标准的语法 */
	color: #fff;
	line-height: 100px;
	padding-left: 24px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
.none,.current,.done {
	width: 20px;
	height: 20px;
	position: absolute;
	box-sizing: border-box;
	border-radius: 2px;
}
.none {
	border:1px solid rgba(157,129,133,0.2);
}
.current {
	background-color: #03b9fc;
	border:1px solid rgba(157,129,133,0.8);
}
.done {
	background-color: #fff;
	border:1px solid rgba(144,146,145,0.8);
}
